* {
    surface: rgba(30, 30, 46, 0.75);
    surface-container-high: rgba(24, 24, 37, 0.50);
    primary: #cba6f7;
    secondary-container: rgba(17, 17, 27, 0.30);
    on-surface: #cdd6f4;
    on-secondary-container: #a6adc8;
    outline: #313244;
    error: #f38ba8;
    tertiary: #cba6f7;
}
